:root {
	--qtd-cols: 7.5;

	--base-col-w: 100px;
	--col-w: var(--base-col-w);
	--col-h: 800px;
	--header-h: 20px;

	--mb: 100px;
}

.App {
	text-align: center;
}

.Header {
	user-select: none;
}

.OuterGrid {
	width: min(calc(var(--col-w) * var(--qtd-cols) + 10px), 96vw);
	height: calc(var(--col-h) + var(--mb));
	overflow: auto;
	margin: 0 auto;
	white-space: nowrap;
	border: 1px solid;
	text-align: left;
}

.TopBar {
	border: 1px solid;

	display: inline-flex;
}

.TopBar > div {
	height: var(--header-h);
	text-align: center;
}
.TopBar > div:not(:first-child) {
	width: var(--col-w);
}
.TopBar > div:first-child {
	width: calc(var(--col-w) / 2);
}

.SideBar {
	position: sticky;
	text-align: center;

	left: 0;
	z-index: 100;
	display: inline-block;
	height: var(--col-h);
	width: calc(var(--col-w) / 2);
	transform: translateY(calc(var(--header-h) * -1));
	margin: 0;
}

.SideBar > * {
	width: calc(var(--col-w) / 2);
}

.GridHour {
	font-size: medium;
}

.GridHour div {
	font-size: small;
	transform: translateY(-12px);
}

.InnerGrid {
	border: 1px solid blue;

	position: relative;
	touch-action: pan-x, pan-y;
	width: calc(var(--col-w) * var(--qtd-cols));
}

.DayColumn {
	position: relative;
	width: var(--col-w);
	height: var(--col-h);
	color: white;
	display: inline-block;

	/* box-shadow: inset 7px 20px 83px 5px rgba(0, 0, 0, 0.24),
	inset 0px 10px 75px 23px rgba(0, 0, 0, 0.24); */
}

.Timeslot {
	touch-action: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;

	user-select: none;

	width: calc(var(--col-w) * 0.9);
	left: calc(calc(var(--col-w) * 0.1) * 0.45);

	font-size: 10px;
	cursor: move;
	border-radius: 8px;
	background-color: dodgerblue;
	opacity: 0.8;
	z-index: 2;
}

.Thumb {
	height: min(33%, 16px);
	/* background-color: orange; */
}

/* DON'T REMOVE THIS CLASSES! */
.TopThumb {
	cursor: ns-resize;
	background-color: orange;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.BottomThumb {
	cursor: ns-resize;
	background-color: orange;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.GridLine {
	position: absolute;
	width: 100%;
	z-index: 0;
}

.EditModal {
	width: 300px;
	height: 300px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
	background: #666;
	z-index: 4;
	transition: 0.3s;
}

.Overlay {
	position: fixed;
	width: 10000px;
	height: 10000px;
	background: #224;
	opacity: 0.4;
	top: 0;
	z-index: 3;
}

.DataPeek {
	text-align: left;
	padding: 1rem;
	margin: 1rem auto;
	background-color: black;
	width: min(96vw, 600px);
	border-radius: 12px;
}

/* md, lg, xl screens only */
@media screen and (min-width: 520px) {
	.EditModal {
		top: 50%;
		left: 50%;
		bottom: unset;
		transform: translate(-50%, -50%);
	}

	.GridHour div {
		font-size: medium;
	}
}

@media screen and (width > 1860px) {
	:root {
		--col-w: calc(var(--base-col-w) * 2);
	}
}

@media screen and (width > 1080px) and (width < 1861px) {
	:root {
		--col-w: calc(var(--base-col-w) * 1.5);
	}
}

@media screen and (width > 620px) and (width < 1081px) {
	:root {
		--col-w: calc(var(--base-col-w) * 1.25);
	}
}
@media screen and (width < 621px) {
	:root {
		--col-w: calc(var(--base-col-w) * 1);
	}
}
